.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

#views {
  height: inherit;
  width: inherit;
  margin: 0;
  padding: 0;
  overflow: auto;
}

a, a p, a h1 {
  color: #3080e8;
}

#loginTag {
  color: #BCBCBC;
}

h1, label {
  color: #e88c30;
}

html, body {
  background-color: #202020;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

button.login, a.login {
  width: 50%;
  margin: 5px auto;
}

.bree {
  font-family: 'Bree Serif', serif;
}

.navbar-default {
  margin-bottom: 0;
}

#todo {
  border-right: 1px solid #e88c30;
  padding-right: 0;
  height: 90vh;
  overflow: auto;
}

#homepage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.columnHeaders {
  border-bottom: white 1px solid;
  background-color: #3080e8;
  color: white;
}

div.columnHeaders h3 {
  color: white;
}

div.columnHeaders h3:hover {
  color: #e88c30;
}

div.homeProjects {
  padding-top: 5px;
}

div.homeProjects:hover {
  background-color: white;
}

div.notes {
  width: 31%;
  margin: 1%;
  height: 100px;
  overflow: auto;
  display: inline-block;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#projects {
  padding: 0;
  border-left: 1px solid #e88c30;
  height: 100vh;
}

#projects h3, #notes h3 {
  display: inline-block;
}

ul {
  padding: 0;
}

p {
  color: #BCBCBC;
  font-size: 1.2em;
}

.homeTodos {
  padding-left: 10px;
}

.homeTodos li {
  list-style-type: none;
  margin: none;
  text-align: left;
  font-size: 1em;
}

#notesHeader h3, #projectsHeader h3 {
  display: inline-block;
}

.homeNotes {
  height: 45vh;
  overflow: auto;
}

hr {
  margin: 0;
}

.glyphicon-remove {
  margin-right: 10px;
  cursor: pointer;
  color: red;
}

.addNote, .addProject {
  margin-left: 15px;
  margin-bottom: 10px;
}

.todoText {
  display: inline;
}

.todoInput {
  margin-bottom: 15px;
}

#body {
  width: 70%;
  height: 40px;
}

.addTodo {
  width: 30%;
  height: 40px;
  background-color: #5cb85c;
}

.showTitle {
  font-size: 3em;
}

div.notes {
  margin: 0;
}

div.well {
  background-color: white;
  color: #e88c30;
  box-sizing: border-box;
}

div.well p {
  color: #202020;
  /*min-height: 100px;
}

#projectsRule {
  margin-top: 0;
}

#new {
  height: 10vh;
  overflow: auto;
}*/