.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

button.login, a.login {
  width: 50%;
  margin: 5px auto;
}

div.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#todo, #notes, #projects {
  border: 1px solid black;
}

#projects h3 {
  display: inline-block;
}

ul {
  padding: 0;
}

.homeTodo {
  list-style-type: none;
  margin: none;
  text-align: left;
  font-size: 1.3em;
}

span.glyphicon-remove {
  margin-right: 10px;
  cursor: pointer;
}

a.todoText {
  padding-bottom: 15px;
}

form.todoInput {
  margin-bottom: 15px;
}