.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

.row {
  margin: 0;
}

#views {
  margin: 0 0 50px 0;
  padding: 0;
  overflow: auto;
  width: 100%;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

div.columnHeaders a.btn-success:hover, div.columnHeaders span:hover {
  background-color: white;
  color: #5cb85c;
}

#allProjects div.well {
  
}

a, a p, a h1 {
  color: #3080e8;
}

#loginTag {
  color: #BCBCBC;
}

h1, label {
  color: #e88c30;
}

html, body {
  background-color: #202020;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

button.login, a.login {
  width: 50%;
  margin: 5px auto;
}

.bree {
  font-family: 'Bree Serif', serif;
}

.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #444444;
  color: white;
  border-top: 2px solid white;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

#todo {
  border-right: 1px solid #e88c30;
  padding-right: 0;
  height: 85vh;
  overflow: auto;
  position: relative;
}

#homepage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#bottomNav {
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.columnHeaders {
  border-bottom: white 1px solid;
  color: white;
  background-color: #444444;
}

div.columnHeaders :hover {
  background-color: #3080e8;
}

h3 {
  color: white;
}

div.columnHeaders h3:hover {
  color: #e88c30;
}

div.homeProjects {
  // padding-top: 5px;
}

div.homeProjects h4 {
  margin: 0;
  padding: 10px 0;
}

div.homeProjects h4:hover {
  background-color: white;
}

div.notes {
  margin: 1% 2% 0;
  height: 40%;
  width: 20%;
  overflow: auto;
  display: inline-block;
}

div.notes .well {
  height: 100%;
  display: flex;
  justify-content: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#projects {
  padding: 0;
  border-left: 1px solid #e88c30;
  height: 85vh;
}

#projects h3, #notes h3 {
  display: inline-block;
}

ul {
  padding: 0;
}

p {
  color: #BCBCBC;
  font-size: 1.2em;
  margin: 0;
}

.homeTodos {
  padding-left: 10px;
}

.homeTodos li {
  list-style-type: none;
  margin: none;
  text-align: left;
  font-size: 1em;
}

#notesHeader h3, #projectsHeader h3 {
  display: inline-block;
}

.homeNotes {
  height: 45vh;
  overflow: none;
}

hr {
  margin: 0;
}

.glyphicon-remove {
  margin-right: 10px;
  cursor: pointer;
  color: red;
}

.glyphicon-remove:hover {
  color: white;
}

.glyphicon-trash {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.glyphicon-ok {
  position: absolute;
  right: 10%;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  top: 0;
  border-radius: 0;
}

textarea {
  margin-right: 15%;
}

.addNote, .addProject {
  margin-bottom: 10px;
}

.todoText {
  display: inline;
}

.todoInput {
  margin-bottom: 15px;
}

#body {
  width: 76%;
  height: 40px;
  margin-left: -15px;
}

.addTodo {
  width: 30%;
  height: 40px;
  background-color: #5cb85c;
}

.showTitle {
  font-size: 3em;
}

div.well {
  background-color: white;
  color: #e88c30;
  box-sizing: border-box;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
}

#projectContainer div.well {
  display: block;
}

#projectContainer h2 {
  margin: 0;
  font-size: 2.5em;
}

div.well p {
  color: #202020;
  /*min-height: 100px;*/
}

.container > .well {
  padding-right: 10%;
}

.container > .btn-success {
  margin-bottom: 20px;
}

#projectsRule {
  margin-top: 0;
}

#new {
  height: 10vh;
  overflow: auto;
}

.allTodos {
  list-style-type: none;
}