<nav class="navbar navbar-default" role="navigation" ng-controller="NavCtrl" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="bree navbar-brand" href="/home">DevDash - {{ date | date:'MMMM dd, yyyy' }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/home">Dashboard</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/" ng-hide="Auth.isLoggedIn()">Login</a></li>
        <li><a ng-click="logout()" ng-hide="!Auth.isLoggedIn()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <!-- <div ng-controller="TabsCtrl">
      <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Dashboard" class="bree" select="home()"></uib-tab>
        <uib-tab index="1" heading="To Do" class="bree" select="todos()"></uib-tab>
        <uib-tab index="2" heading="Notes" class="bree" select="notes()"></uib-tab>
        <uib-tab index="3" heading="Projects" class="bree" select="projects()"></uib-tab>
      </uib-tabset>
    </div> -->
  </div>
</nav>