<div class="container">

  <h1>New Note</h1>

  <form ng-submit="newNote()">
    <div class="form-group">
      <textarea class="form-control" id="text" ng-model="note.text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- <div class="container" ng-controller="NoteCtrl">
    <script type="text/ng-template" id="newNote.html">
        <div class="modal-header">
            <h3 class="modal-title">New Note</h3>
        </div>
        <div class="modal-body">
          <form ng-submit="newNote()">
            <div class="form-group">
              <textarea class="form-control" id="text" ng-model="note.text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
</div> -->