<div class="container">
  <div class="row text-center">
    <h1 class="showTitle bree">{{project.name}}</h1>
    <div>
      <button class="btn btn-success" ng-click="editProject()">Edit</button>
    </div>
    <hr />
      <div class="well">
        <p>{{ project.description }}</p>
        <a ng-href="{{project.link}}">
          <p>{{project.link}}</p>
        </a>
      </div>
  </div>
  <div id="allProjects" class="row">
    <div class="well col-sm-4">
      <h3 class="bree">Requirements</h3>
      <p>{{project.requirements[0]}}</p>
    </div>
    <div class="well col-sm-4">
      <h3 class="bree">User Stories</h3>
      <p>{{project.userStories[0]}}</p>
    </div>
    <div class="well col-sm-4">
      <h3 class="bree">Technologies</h3>
      <p>{{project.technologies[0]}}</p>
    </div>
  </div>
</div>