<div class="container">

  <div class="todo text-center">
    <h1>To Do</h1>
    <form class="todoInput" ng-submit="newTodo()">
      <input id="newBody" ng-model="todo.body" placeholder="New Todo" >
      <button type="submit">Add</button>
    </form>
    <div>
      <ul class="allTodos" ng-repeat="todo in todos track by $index ">
        <li>
          <span class="glyphicon glyphicon-remove" ng-click="deleteTodo(todo.id, $index)"></span>
          <a class="todoText" ng-href="/todos/{{todo.id}}">{{ todo.body }}</a>
        </li>
      </ul>
    </div>
    <p>{{ todo.body }}</p>
  </div>

</div>