<div class="container">

  <div id="todosShow" class="todo text-center" ng-controller="TodoCtrl">
    <h3>To Do</h3>
    <form class="todoInput" ng-submit="newTodo()">
      <input id="newBody" ng-model="todo.body" placeholder="New Todo" >
      <button type="submit">Add</button>
    </form>
    <div>
      <ul ng-repeat="todo in todos track by $index ">
        <li class="homeTodo">
          <span class="glyphicon glyphicon-remove" ng-click="deleteTodo(todo.id, $index)"></span>
          <a class="todoText" ng-href="/todos/{{todo.id}}">{{ todo.body }}</a>
        </li>
      </ul>
    </div>
    <p>{{ todo.body }}</p>
  </div>

</div>